:root {
    --bg-color-white: hsl(0, 0%, 100%);

    --primary-tomato: hsl(4, 100%, 67%);
    --primary-pink: hsl(334, 94%, 64%);
    --primary-orange: hsl(20, 100%, 60%);

    --secondary-dark-slate-grey: hsl(234, 29%, 20%);
    --secondary-charcoal-grey: hsl(235, 18%, 26%);
    --secondary-grey: hsl(231, 7%, 60%);
    
    --fw-medium: 400;
    --fw-bold: 700;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.50%; /* 10px */
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-medium);
    background-color:var(--bg-color-white);
}

.mobile-img {
    display: block;
    width: 100%;
}

.desktop-img {
    display: none;
}

.container {
    padding: 2rem 2.5rem;
}

.info {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.info__title {
    font-size: 4rem;
    padding: 1rem 0 2rem 0;
    color: var(--secondary-dark-slate-grey);
}

.info__intro {
    margin-bottom: 2.5rem;
}

.info__advantages {
    list-style: none;
}

.info__advantages li {
    margin-bottom: 1.25rem;
    padding-left: 3.5rem;
    position: relative;
}

.info__advantages li::before {
    content: "";
    background-image: url(./assets/images/icon-list.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0rem;
    width: 2rem;
    height: 2rem;
}

.form__label {
    display: block;
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    color: var(--secondary-dark-slate-grey);
    margin-bottom: 0.5rem;
}

.form__email {
    border: 1px solid var(--secondary-grey);
    border-radius: 6px;
    width: 100%;
    height: 5rem;
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    font-weight: var(--fw-bold);
    border: none;
    border-radius: 6px;
    background-color: var(--secondary-dark-slate-grey);
    color: white;
    width: 100%;
    height: 5rem;
    padding: 0 1.5rem;
    cursor: pointer;
    transition: all .1s;
}

.btn:hover {
    background-image: linear-gradient(to right, var(--primary-pink), var(--primary-orange));
    box-shadow: 0 .75rem 2rem -0.2rem var(--primary-tomato);
}

.btn:active {
    transform: translateY(0.1rem);
    box-shadow: 0 .25rem .5rem rgb(79, 85, 132);
}

form {
    position: relative;
}

.error-msg {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}

.hide {
    display: none;
}

.invalid {
    background-color: rgba(245, 39, 39, 0.25);
    border-color: red;
}

.card-2 {
    background-color: white;
    border-radius: 30px;
    max-width: 40rem;
    padding: 3.5rem 5rem;
    margin: auto;
}

.card-2 img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}

.card-2 h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    color: var(--secondary-dark-slate-grey);
    margin-bottom: 2rem;
}

.card-2 p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: var(--secondary-dark-slate-grey);
}

.card-2 span {
    font-weight: var(--fw-bold);
}

.card-2 .btn {
    margin-top: 100%;
    margin-bottom: 2rem;
}



@media (min-width: 800px) {

    body {
        min-height: 100vh;
        display: grid;
        place-content: center;
        background-color: var(--secondary-charcoal-grey);
    }

    main {
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        gap: 2rem;
        padding: 2rem;
        border-radius: 20px;
        max-width: 85rem;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-img {
        flex-basis: 47,5%;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: block;
        width: 100%;
    }

    .container {
        flex-basis: 52,5%;
    }

    .info__title {
        margin-bottom: 0.5rem;
    }

    .card-2 p {
        margin-bottom: 4rem;
    }

    .card-2 .btn {
        margin-top: 0;
    }
}